
@switch (Data)
{
    case InputString input:
        @if (!String.IsNullOrEmpty(input.Title))
        {
            <div class="node-input-heading">@input.Title</div>
        }
        <div class="node-input">
            <input type="text" class="input-field" @bind-value="@input.Contents" @bind-value:event="oninput" />
        </div>
        break;
    case InputNumber input:
        @if (!String.IsNullOrEmpty(input.Title))
        {
            <div class="node-input-heading">@input.Title</div>
        }
        <div class="node-input">
            <input type="number" class="input-field" min="@("" + input.Min)" max="@("" + input.Max)" @bind-value="@input.InputContents" @bind-value:event="oninput"/>
        </div>
        break;
    case InputProcedural input:
        <div class="node-input procedural" style="font-size:15px; font-style:italic">
            <NodeInputDot Input="@input"/>
            @input.Title
        </div>
        break;
    case RegexNodes.Shared.InputCheckbox input:
        <div class="input-checkbox">
            <input type="checkbox" @bind="@input.IsChecked" />
            @input.Title
        </div>
        break;
    case RegexNodes.Shared.InputCheckboxNullable input:
        <div class="input-checkbox">
            <ThreeStateToggle @bind-ButtonState="@input.CheckedState"/>
            @input.Title
        </div>
        break;
    case InputDropdown input:
        <div class="node-input-heading">@input.Title</div>
        <div class="node-input">
            <select @bind="@input.DropdownValue" class="input-field">
                @foreach (string str in input.Options)
                {
                    <option value="@str">@str</option>
                }
            </select>
        </div>
        break;
    case RegexNodes.Shared.InputCollection input:
        <InputCollectionRender Data="@input" />
        break;
}


@functions{
    [Parameter] public INodeInput Data { get; set; }

    
}
