@inject INodeHandler NodeHandler

<button class="add-button" @onclick="@AddItem">Add Item</button>
@foreach (var input in Data.Inputs)
{
    <div style="display:flex;">
        <NodeInputView Data="@input"/>
        <button @onclick="@(() => MoveUp(input))" class="item-button"><i class="fas fa-chevron-up"></i></button>
        <button @onclick="@(() => MoveDown(input))" class="item-button"><i class="fas fa-chevron-down"></i></button>
        <button @onclick="@(() => RemoveItem(input))" class="item-button"><i class="fas fa-times"></i></button>
    </div>
}

@functions{
    [Parameter] public InputCollection Data { get; set; }

    void AddItem()
    {
        Data.AddItem();
    }

    void MoveUp(InputProcedural input)
    {
        Data.MoveUp(input);
        NodeHandler.ForceRefreshNoodles();
    }

    void MoveDown(InputProcedural input)
    {
        Data.MoveDown(input);
        NodeHandler.ForceRefreshNoodles();
    }

    void RemoveItem(InputProcedural input)
    {
        Data.RemoveItem(input);
        NodeHandler.ForceRefreshNoodles();
    }
}