
<div title="@Data.Description">
    @switch (Data)
    {
        case InputString input:
            <InputStringView Input="input" />
            break;
        case InputNumber input:
            <InputNumberView Input="input" />
            break;
        case InputProcedural input:
            <InputProceduralView Input="@input" />
            break;
        case InputRange input:
            <InputRangeView Input="@input" />
            break;
        case InputCheckbox input:
            <InputCheckboxView Input="@input" />
            break;
        case InputCheckboxNullable input:
            <InputCheckboxNullableView Input="input"/>
            break;
        case InputDropdown input:
            <InputDropdownView Input="@input" />
            break;
        case InputCollection input:
            <InputCollectionView Data="@input" />
            break;
    }
</div>

@functions{
    [Parameter] public INodeInput Data { get; set; }


}
