@if (!string.IsNullOrEmpty(Info))
{
    @Info
}
<button class="toast-button" @onclick="OnButtonClicked" disabled="@hasBeenPressed">@ButtonText</button>

@code {
    [Parameter] public Action? OnClick { get; set; }
    [Parameter] public string? ButtonText { get; set; }
    [Parameter] public string? Info { get; set; }

    private bool hasBeenPressed = false;

    private void OnButtonClicked()
    {
        hasBeenPressed = true;
        OnClick?.Invoke();
    }

    public static RenderFragment GetRenderFragment(Action onClick, string buttonText, string? info = null)
        => @<ToastButton OnClick="@onClick" ButtonText="@buttonText" Info="@info"/>;
}
